<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-grid.css" />
  <title>Login</title>
</head>
<body style="background-color: #fff">

  <nav class="navbar navbar-dark" style="background-color: #104161">
    <div class="container-fluid">
      <a class="navbar-brand">Quantified Self App</a>
      <a class="btn btn-outline-secondary" role="button" href="/user/create" style="color: white;" >Create An Account</a>
    </div>
  </nav>

  <div class="container-md" style="padding: 30px;">
    <div class="row justify-content-center">
      <h1 class="display-3">Login</h1>
      <div class="col-md" style="border: 1px solid #10222E; border-radius: 5px; padding: 10px;">
        <form action="/" method="POST" id="user-login-form">
          <div class="row">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1" style="border: 1px solid black;">👤</span>
              <input type="text" class="form-control" id="inputUsername" name="inputUsername" style="border: 1px solid black;" placeholder="Username" required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1" style="border: 1px solid black;">🔒</span>
              <input type="password" class="form-control" id="inputPassword" name="inputPassword" style="border: 1px solid black;" placeholder="Password" required>
            </div>
            {% if error %}
            <p class=error style="color: red;"><strong> Error: </strong> {{error}} </p>
            {% endif %}
            <div class="p-3">
              <div class="col-auto">
                <input type="submit" class="btn btn-primary mb-3" value="Login">
              </div>
            </div>
          </div>
          <a class="btn btn-outline-secondary" role="button" href="/user/create" >Create An Account</a>
        </form>
      </div>
    </div>
  </div>

  <script src="/js/bootstrap.js"></script>
</body>
</html>