<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/bootstrap-grid.css" />
    <title>Tracker Edit</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #104161;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Quantified Self App</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a href="/user/{{username}}/home" class="nav-link">Home</a>
              <a class="nav-link" aria-current="page" href="/trackers">Trackers Dashboard</a>
              <a class="nav-link" aria-current="page" href="/trackers/create">Create A Tracker</a>
              <a class="nav-link active" aria-current="page" href="#">Editing a Tracker</a>
            </div>
          </div>
          <a class="btn btn-danger" role="button" href="/user/logout" >Logout</a>
        </div>
    </nav>

    <div class="container-fluid" style="padding: 30px">
        <div class="row" style="border: 1px solid #10222E; border-radius: 5px; padding: 10px;">
          <h1 class="display-3">Editing {{tracker.tracker_name}}</h1>
            {% if error %}
                <p class=error style="color: red;"><strong> Error: </strong> {{error}} </p>
            {% endif %}
            <form action="/trackers/{{tracker.tracker_id}}/edit" method="POST" id="tracker-edit-form">
                <div class="row">
                  <div class="mb-3">
                    <label for="trackerName" class="form-label">Tracker Name</label>
                    <input type="text" class="form-control" id="trackerName" name="trackerName" style="border: 1px solid black;" placeholder="{{tracker.tracker_name}}">
                  </div>
                  <div class="mb-3">
                    <label for="trackerType" class="form-label">Tracker Type</label>
                    <input type="text" class="form-control" id="trackerType" name="trackerType" style="border: 1px solid black;" placeholder="{{tracker.tracker_type}}" disabled readonly>
                  </div>
                  {% if tracker.tracker_type == "Multiple Choice" %}
                  <div class="mb-3">
                    <label for="trackerChoices" class="form-label">Tracker Choices</label>
                    <input type="text" class="form-control" id="trackerType" name="trackerType" style="border: 1px solid black;" placeholder="{{selectable_values.selectables}}" disabled readonly>
                    <div class="form-text"><a href="/trackers/create/{{tracker.tracker_id}}/selectables">Edit Choices(All previous logs will be deleted)</a></div>
                  {% endif %}
                  </div>
                  <div class="mb-3">
                    <label for="trackerDesc" class="form-label">Tracker Description</label>
                    <input type="text" class="form-control" id="trackerDesc" name="trackerDesc" style="border: 1px solid black;" placeholder="{{tracker.tracker_desc}}">
                  </div>
                  <div class="col-auto mb-3">
                    <input type="submit" class="btn btn-primary mb-3" value="Edit">
                  </div>
                  <div class="p">
                    <a href="/trackers/create" class="btn btn-outline-secondary" role="button" style="background-color: #104161; color: white;">
                      + Create a tracker
                    </a>
                  </div>
                </div>
                
                
              </form>
        </div>
    </div>


    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>