<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{tracker.tracker_name}}'s info</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #104161;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Quantified Self App</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="/user/{{username}}/home">Home</a>
              <a class="nav-link" href="/user/{{username}}/trackers">Trackers</a>
              <a class="nav-link" href="/user/{{username}}/logs">Logs</a>
              <a class="nav-link active" href="#">{{tracker.tracker_name}}'s info</a>
            </div>
          </div>
          <a class="btn btn-danger" role="button" href="/user/logout" >Logout</a>
        </div>
    </nav>

    <div class="container-fluid" style="padding: 30px;">
        <div class="row justify-content-between">
          <h1 class="display-3">
            {{username}}'s {{tracker.tracker_name}}'s info
          </h1>
          <p class="lead"><strong>Tracker Type: {{tracker.tracker_type}}</strong></p>
          {% if s %}
          <p class="lead"><strong>Choices: </strong>{{s}}</p>
          {% endif %}
          <p class="lead"><strong>Description: {{tracker.tracker_desc}}</strong></p>
        </div>

        <div class="row" style="padding: 10px;">
          {% if condition %}
          <div class="col-sm justify-content-center">
            <img src="/plot_png/{{tracker.tracker_id}}" alt="my plot" height="100%" width="100%" style="object-fit: contain;">
          </div>
          {% endif %}
          <div class="col-sm justify-content-center" id="my-col">
            <div class="row justify-content-between" style="padding-bottom: 10px;">
              <div class="col-3">
                <h5>Logs</h5>
              </div>
              <div class="col-auto">
                <a href="/user/{{username}}/logs/{{tracker.tracker_id}}/add" style="border: 0.5px solid #10222E; background-color: #18A999; color: white; text-align: right;" class="btn">➕New Log</a>
              </div>
            </div>
              
            <div class="table-responsive">
              <table class="table table-sm table-bordered table-striped align-middle">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tracked On</th>
                    <th scope="col">Value</th>
                    <th scope="col">Note</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for log in logs %}
                  <tr>
                    <td>{{loop.index}}</td>
                    <td>{{log.timestamp}}</td>
                    <td>{{log.value}}</td>
                    <td>{{log.note}}</td>
                    <td>
                      <a href="/user/{{username}}/logs/{{log.log_id}}/edit" class="btn" id="my-button">📋Edit Log</a>                 
                      <a href="/user/{{username}}/logs/{{log.log_id}}/delete"class="btn" id="my-button">❌Delete Log</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
              
              
          </div>
        </div>
    </div>

    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>