<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{user.username}} Logs</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #104161;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Quantified Self App</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="/user/{{user.username}}/home">Home</a>
              <a class="nav-link" href="/user/{{user.username}}/trackers">Trackers</a>
              <a class="nav-link active" href="/user/{{user.username}}/logs">Logs</a>
            </div>
          </div>
          <a class="btn btn-danger" role="button" href="/user/logout" >Logout</a>
        </div>
      </nav>

    <div class="container-fluid" style="padding: 30px;">
        <h1 class="display-3">{{user.username}}'s Logs</h1>
        <div class="row" style="padding: 10px;">
          <div class="col-md justify-content-center" id="my-col">
            {% if condition %}
            <div class="table-responsive">
              <table class="table table-sm table-bordered table-striped align-middle" style="min-height: 175px;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tracker Name</th>
                    <th scope="col">Tracked On</th>
                    <th scope="col">Value</th>
                    <th scope="col">Note</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for log in logs %}
                  <tr>
                    <td scope="row">{{loop.index}}</td>
                    <td><a href="/user/{{username}}/tracker/{{log.tracker_id}}" class="btn">{{tracker.query.filter_by(tracker_id=log.tracker_id).first().tracker_name}}</a></td>
                    <td>{{log.timestamp}}</td>
                    <td>{{log.value}}</td>
                    <td>{{log.note}}</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="/user/{{username}}/logs/{{log.tracker_id}}/add" style="border: 0.5px solid #10222E; background-color: #18A999; color: white;" class="btn">➕New Log</a>
                        <a href="/user/{{username}}/logs/{{log.log_id}}/edit" class="btn" style="border: 0.5px solid #10222E; background-color: #18A999; border-collapse:collapse; color: white;">📋Edit Log</a>                 
                      </div>
                      <a href="/user/{{username}}/logs/{{log.log_id}}/delete" style="border: 0.5px solid #10222E; background-color: #18A999; color: white;" class="btn">❌Delete Log</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% else %}
            No trackings yet
            {% endif %}
          </div>
        </div>
    </div>

      <script src="/js/bootstrap.js"></script>
      <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>